<%= render :template => 'layouts/_header' %>
  <div id="title">
    <h3>カテゴリ：<%= @category_name %></h3>
    <button class="search"></button>
  </div>
  
  <%= render :template => 'layouts/_nav' %>

  <%= render :template => 'layouts/_menus' %>
  
<%= render :template => 'layouts/_footer' %>