<%= render :template => 'layouts/_header' %>
	<% menu = @menu %>
	<% 
    $sell_flag = false
    wdays = ["日", "月", "火", "水", "木", "金", "土"]

    case wdays[Time.now.wday]
    when '月'
      if menu.mon
        $sell_flag = true
      end
    when '火'
      if menu.tue
        $sell_flag = true
      end
    when '水'
      if menu.wed
        $sell_flag = true
      end
    when '木'
      if menu.thu
        $sell_flag = true
      end
    when '金'
      if menu.fri
        $sell_flag = true
      end
    end
  %>
	<div class="details">
		<%= image_tag menu.imageurl%>
		<div class="information">
			<h3><%= menu.name %></h3>
			<p><%= menu.price %>yen</p>
			<table>
				<tr>
					<th style="border-right: solid 1px #D7D7D7">カロリー</th>
					<th>アレルギー成分</th>
				</tr>
				<tr>
					<td  style="border-right: solid 1px #D7D7D7"><%= menu.cal %>kcal</td>
					<td><%= menu.allergy %></td>
				</tr>
				<tr>
					<th  style="border-right: solid 1px #D7D7D7;border-top: solid 1px #D7D7D7;">残り個数</th>
					<th style="border-top: solid 1px #D7D7D7;">発売曜日</th>
				</tr>
				<tr>
					<td  style="border-right: solid 1px #D7D7D7">
						<% if $sell_flag	%>
							<%= menu.quantity %>
						<% else %>
							―
						<% end %>
					</td>
					<td>
					<% 
						$day = "" 

						if menu.mon
							$day += '月'
						end
						if menu.tue
							$day += '火'
						end
						if menu.wed
							$day += '水'
						end
						if menu.thu
							$day += '木'
						end
						if menu.mon
							$day += '金'
						end
					%>
					<%= $day %>
					</td>
				</tr>
			</table>
			
      <% if !$sell_flag %>
        <button class="reserve not_sell">今日は販売されていません</button>
			<% elsif menu.quantity != 0 %>
				<%= link_to '/orders/new/'+menu.id.to_s, :id => menu.id do %>
				<button class="reserve">トレーにのせる</button>
				<% end %>
			<% else %>
				<button class="reserve sold_out">売り切れ</button>
			<% end %>
		</div>
		<% if menu.description != nil %>
			<div class="description">
				<h5>商品の説明</h5>
				<p><%= menu.description %></p>
			</div>
		<% end %>
	</div>

	<div id="title">
		<h3>全てのメニュー</h3>
	</div>

	<%= render :template => 'layouts/_menus' %>
	
<%= render :template => 'layouts/_footer' %>