<%= render :template => 'layouts/_header' %>
  <div id="title">
    <h3>Menu</h3>
    <button class="search"></button>
  </div>
  
  <nav>
    <h4>料理名で検索</h4>
    <input type="text" class="food_name" placeholder="例：カレー、うどん">
    <button class="name_search">料理名で検索</button>
    <h4 class="2nd">カテゴリー から選ぶ</h4>
    <div class="categories">
      <li>麺類</li>
      <li>丼物</li>
      <li>定食</li>
      <li>サイドメニュー</li>
    </div>
  </nav>

  <div id="menus">
    <div class="menu">
      <a href="details.html">
        <%= image_tag 'yakiniku.jpg'%>
      </a>
      <div class="caption">
        <div class="menu_top">
          <h3 class="name">焼き肉</h3> 
          <p class="price">3,240yen</p>
        </div>
        <div class="menu_bottom">
          <a href="details.html">
            <button class="read_more">詳しく見る</button>
          </a>
          <button class="reserve">トレーに<br>のせる</button>
        </div>
      </div>
    </div>
    <div class="menu">
      <%= image_tag 'yakiniku.jpg'%>
      <div class="caption">
        <div class="menu_top">
          <h3 class="name">馬刺し</h3> 
          <p class="price">864yen</p>
        </div>
        <div class="menu_bottom">
          <button class="read_more">詳しく見る</button>
          <button class="reserve">トレーに<br>のせる</button>
        </div>
      </div>
    </div>
    <div class="menu">
      <%= image_tag 'yakiniku.jpg'%>
      <div class="caption">
        <div class="menu_top">
          <h3 class="name">きしめん</h3> 
          <p class="price">550yen</p>
        </div>
        <div class="menu_bottom">
          <button class="read_more">詳しく見る</button>
          <button class="reserve">トレーに<br>のせる</button>
        </div>
      </div>
    </div>
    <div class="menu">
      <%= image_tag 'yakiniku.jpg'%>
      <div class="caption">
        <div class="menu_top">
          <h3 class="name">まぐろ</h3> 
          <p class="price">108yen</p>
        </div>
        <div class="menu_bottom">
          <button class="read_more">詳しく見る</button>
          <button class="reserve">トレーに<br>のせる</button>
        </div>
      </div>
    </div>
    <div class="menu">
      <%= image_tag 'yakiniku.jpg'%>
      <div class="caption">
        <div class="menu_top">
          <h3 class="name">鶏魚貝海鮮塩拉麺</h3> 
          <p class="price">650yen</p>
        </div>
        <div class="menu_bottom">
          <button class="read_more">詳しく見る</button>
          <button class="reserve">トレーに<br>のせる</button>
        </div>
      </div>
    </div>
    <div class="menu">
      <%= image_tag 'yakiniku.jpg'%>
      <div class="caption">
        <div class="menu_top">
          <h3 class="name">Cafe crowd ランチ</h3> 
          <p class="price">1,300yen</p>
        </div>
        <div class="menu_bottom">
          <button class="read_more">詳しく見る</button>
          <button class="reserve">トレーに<br>のせる</button>
        </div>
      </div>
    </div>
    <div class="menu">
      <%= image_tag 'yakiniku.jpg'%>
      <div class="caption">
        <div class="menu_top">
          <h3 class="name">天下一品こってり</h3> 
          <p class="price">780yen</p>
        </div>
        <div class="menu_bottom">
          <button class="read_more">詳しく見る</button>
          <button class="reserve">トレーに<br>のせる</button>
        </div>
      </div>
    </div>
    <div class="menu">
      <%= image_tag 'yakiniku.jpg'%>
      <div class="caption">
        <div class="menu_top">
          <h3 class="name">ラーメン吟 匠</h3> 
          <p class="price">650yen</p>
        </div>
        <div class="menu_bottom">
          <button class="read_more">詳しく見る</button>
          <button class="reserve">トレーに<br>のせる</button>
        </div>
      </div>
    </div>
    <div class="menu">
      <%= image_tag 'yakiniku.jpg'%>
      <div class="caption">
        <div class="menu_top">
          <h3 class="name">ラーメンだるま</h3> 
          <p class="price">650yen</p>
        </div>
        <div class="menu_bottom">
          <button class="read_more">詳しく見る</button>
          <button class="reserve">トレーに<br>のせる</button>
        </div>
      </div>
    </div>
    <div class="menu">
      <%= image_tag 'yakiniku.jpg'%>
      <div class="caption">
        <div class="menu_top">
          <h3 class="name">ドルフィンラーメン</h3> 
          <p class="price">650yen</p>
        </div>
        <div class="menu_bottom">
          <button class="read_more">詳しく見る</button>
          <button class="reserve">トレーに<br>のせる</button>
        </div>
      </div>
    </div>
    
    <div class="menu">
      <%= image_tag 'yakiniku.jpg'%>
      <div class="caption">
        <div class="menu_top">
          <h3 class="name">まぼろしのラーメン亭</h3> 
          <p class="price">980yen</p>
        </div>
        <div class="menu_bottom">
          <button class="read_more">詳しく見る</button>
          <button class="reserve">トレーに<br>のせる</button>
        </div>
      </div>
    </div>

  </div>
<%= render :template => 'layouts/_footer' %>