<%= render :template => 'layouts/_header' %>
  <div id="title">
    <h3>Menu</h3>
    <button class="search"></button>
  </div>
  
  <nav>
    <h4>料理名で検索</h4>
    <input type="text" class="food_name" placeholder="例：カレー、うどん">
    <button class="name_search">料理名で検索</button>
    <h4 class="2nd">カテゴリー から選ぶ</h4>
    <div class="categories">
      <li>麺類</li>
      <li>丼物</li>
      <li>定食</li>
      <li>サイドメニュー</li>
    </div>
  </nav>

  <div id="menus">
    <% @menus.each do |menu| %>
    <div class="menu">
      <a href="details.html">
        <%= image_tag menu.imageurl%>
      </a>
      <div class="caption">
        <div class="menu_top">
          <h3 class="name"><%= menu.name %></h3> 
          <p class="price"><%= menu.price %>yen</p>
        </div>
        <div class="menu_bottom">
          <a href="details.html">
            <button class="read_more">詳しく見る</button>
          </a>
          <button class="reserve">トレーに<br>のせる</button>
        </div>
      </div>
    </div>
    <% end %>

  </div>
<%= render :template => 'layouts/_footer' %>