<%= render :template => 'layouts/_header' %>
  <div id="title">
    <h3>「<%= @search_name %>」の検索結果</h3>
    <button class="search"></button>
  </div>
  
  <%= render :template => 'layouts/_nav' %>

  <%= render :template => 'layouts/_menus' %>
  
<%= render :template => 'layouts/_footer' %>