<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<%= stylesheet_link_tag "administration" %>
	<%= stylesheet_link_tag "statistics" %>
	<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
	<title>Mealie</title>
</head>
<body>
	<header>
		<%= link_to image_tag('mealie_administration_logo.png', :class => 'vertical_middle'), :controller => "administration", :action => "index" %>
	</header>
	<div id="statistics">
		<h1>統計情報</h1>
		<h2>総注文数のグラフ</h2>
		<div id="all_order_graph">
		<%= column_chart @data, colors: ["#FF6A0C", "#fff"], width: "1300px" %>
		</div>
		<h2>注文履歴</h2>
		<div id="all_order">
			<table class="table">
		  <thead>
		    <tr>
		    	<th>日時</th>
		      <th>学籍番号</th>
		      <th>メニュー名</th>
		      <th>価格</th>
		      <th>ステータス</th>
		    </tr>
		  </thead>
		  <tbody>
		  	<% @orders.each do |order| %>
		    <tr>
		      <th scope="row"><%= order.created_at.strftime('%Y年%m月%d日 %H時%M分') %></th>
		      <td><%= order.student_number %></td>
		      <td><%= order.menu_name %></td>
		      <td><%= order.price %></td>
		      <td><%= order.status %></td>
		    </tr>
		    <% end %>
		  </tbody>
		</table>
		</div>
		<% @menus.each do |menu| %>
			<h2>直近2週間の「<%= menu.name %>」の販売数</h2>
				<% 
					day = Date.today
					$data = {(day-13).strftime("%m月%d日").to_s => Order.where(created_at: 13.day.ago.all_day).where(menu_name: menu.name).count,(day-12).strftime("%m月%d日").to_s => Order.where(created_at: 12.day.ago.all_day).where(menu_name: menu.name).count,(day-11).strftime("%m月%d日").to_s => Order.where(created_at: 11.day.ago.all_day).where(menu_name: menu.name).count,(day-10).strftime("%m月%d日").to_s => Order.where(created_at: 10.day.ago.all_day).where(menu_name: menu.name).count,(day-9).strftime("%m月%d日").to_s => Order.where(created_at: 9.day.ago.all_day).where(menu_name: menu.name).count,(day-8).strftime("%m月%d日").to_s => Order.where(created_at: 8.day.ago.all_day).where(menu_name: menu.name).count,(day-7).strftime("%m月%d日").to_s => Order.where(created_at: 7.day.ago.all_day).where(menu_name: menu.name).count,(day-6).strftime("%m月%d日").to_s => Order.where(created_at: 6.day.ago.all_day).where(menu_name: menu.name).count, (day-5).strftime("%m月%d日").to_s => Order.where(created_at: 5.day.ago.all_day).where(menu_name: menu.name).count, (day-4).strftime("%m月%d日").to_s => Order.where(created_at: 4.day.ago.all_day).where(menu_name: menu.name).count, (day-3).strftime("%m月%d日").to_s => Order.where(created_at: 3.day.ago.all_day).where(menu_name: menu.name).count, (day-2).strftime("%m月%d日").to_s => Order.where(created_at: 2.day.ago.all_day).where(menu_name: menu.name).count, (day-1).strftime("%m月%d日").to_s => Order.where(created_at: 1.day.ago.all_day).where(menu_name: menu.name).count, (day).strftime("%m月%d日").to_s => Order.where(created_at: 0.day.ago.all_day).where(menu_name: menu.name).count} %>
			<div id="all_order_graph">
			<%= column_chart $data, colors: ["#4069FF", "#fff"], width: "1300px" %>
			</div>
		<% end %>
	</div>
</body>
</html>