<%= render :template => 'layouts/_header' %>
	<% @user.each do |user| %>
	<div id="mypage_header">
		<h4>学籍番号：<span id="student_number"><%= user.student_number %></span></h4>
	</div>
	<% end %>

	<div id="title">
		<h3>本日の注文状況</h3>
	</div>

	<div id="orders">
	<table>
		<tr id="header">
			<th id="menu_name">メニュー名</th>
			<th id="price">価格</th>
			<th id="status">ステータス</th>
			<th id="delete">削除</th>
		</tr>
		<% @order.each do |order| %>
		<tr>
			<td class="menu_name">
			<%= order.menu_name %>
			</td>
			<td class="price">
			<%= order.price %>円
			</td>
			<td class="status"><%= order.status %></td>
			<td class="button">
			<%= link_to '/removetray/'+order.id.to_s, :id => order.id do %>
			<button>削除</button>
			<% end %>
			</td>
		</tr>
		<% end %>
	</table>
	</div>
	<div id="buttons">
		<button id="all_delete">トレーの中身をクリアする</button>
		<button id="submit">この内容で予約する</button>
	</div>
	<!-- <div id="mypage_content">
		<a href="tray.html">
			<button id="reserve_info"><p>トレーの確認</p>
			</button>
		</a>
		<button id="history"><p>注文履歴</p></button>
		<button class="logout">ログアウトする</button>
	</div> -->
<%= render :template => 'layouts/_footer' %>