<%= render :template => 'layouts/_header' %>
	<% @user.each do |user| %>
	<% $student_number = user.student_number %>
	<div id="mypage_header">
		<h4>IDm：<span id="student_number"><%= user.student_number %></span></h4>
	</div>
	<% end %>

	<div id="title">
		<h3>注文履歴</h3>
	</div>

	<div id="orders">
	<table>
		<tr id="header">
			<th id="date">日付</th>
			<th id="menu_name">メニュー名</th>
			<th id="price">価格</th>
			<th id="status">ステータス</th>
		</tr>
		<% @order.each do |order| %>
		<tr>
			<td class="date">
			<%= order.created_at.strftime("%Y年%m月%d日 %H時%M分")  %>
			</td>
			<td class="menu_name">
			<%= order.menu_name %>
			</td>
			<td class="price">
			<%= order.price %>円
			</td>
			<td class="status"><%= order.status %></td>
		</tr>
		<% end %>
	</table>
	<% if Order.where(student_number: params[:student_number]).count == 0 %>
			<p class="not_order">過去の注文はありません</p>
		<% end %>
	</div>
	<!-- <div id="mypage_content">
		<a href="tray.html">
			<button id="reserve_info"><p>トレーの確認</p>
			</button>
		</a>
		<button id="history"><p>注文履歴</p></button>
		<button class="logout">ログアウトする</button>
	</div> -->
<%= render :template => 'layouts/_footer' %>
