<% $sum = 0 %>
<%= render :template => 'layouts/_header' %>
	<div id="mypage_header">
		<h4>学籍番号：<span id="student_number"><%= ActiveUser.first.student_number %></span></h4>
	</div>

	<div id="title">
		<h3>トレー</h3>
	</div>

	<div id="orders">
	<table>
		<tr id="header">
			<th id="menu_name">メニュー名</th>
			<th id="price">価格</th>
			<th id="status">ステータス</th>
			<th id="delete">削除</th>
		</tr>
		<% @order.each do |order| %>
		<tr>
			<td class="menu_name">
			<%= order.menu_name %>
			</td>
			<td class="price">
			<%= order.price %>円
			<% $sum = $sum + order.price %>
			</td>
			<td class="status"><%= order.status %></td>
			<td class="button">
			<%= link_to '/orders/destroy/'+order.id.to_s+'/tray', :id => order.id, :from => 'tray' do %>
			<button>削除</button>
			<% end %>
			</td>
		</tr>
		<% end %>
	</table>
	<% if ($q = Order.where(student_number: params[:student_number]).where(created_at: Time.zone.now.all_day).where(status: 'トレー上').count) == 0 %>
			<p class="not_order">トレーに載っている注文はありません</p>
	<% else %>
	<p class="sum_price">
		合計：<%= $sum %>円 (税込)
	</p>
	<% end %>
	</div>
	<% if $q != 0 %>
	<div id="buttons">
		<%= link_to '/orders/destroyall/'+ActiveUser.first.student_number.to_s, :student_number =>ActiveUser.first.student_number do %>
		<button id="all_delete">トレーの中身をクリアする</button>
		<% end %>
		<%= link_to '/orders/confirm/'+ActiveUser.first.student_number.to_s, :student_number => ActiveUser.first.student_number do %>
		<button id="submit">この内容で予約を確定する</button>
		<% end %>
	</div>
	<% end %>
	<!-- <div id="mypage_content">
		<a href="tray.html">
			<button id="reserve_info"><p>トレーの確認</p>
			</button>
		</a>
		<button id="history"><p>注文履歴</p></button>
		<button class="logout">ログアウトする</button>
	</div> -->
<%= render :template => 'layouts/_footer' %>