<div class="margin"></div>
<%= link_to '/logins' do %>
<button class="finish">
	サービスの利用を終了する
</button>
<% end %>
</body>
<%= javascript_include_tag "script" %>
</html><div class="margin"></div>
<%= link_to '/logins' do %>
<button class="finish">
	サービスの利用を終了する
</button>
<% end %>
</body>
<%= javascript_include_tag "jquery" %>
<%= javascript_include_tag "script" %>
</html>