<!DOCTYPE html>
<% @student_number = ActiveUser.first.student_number %>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<%= stylesheet_link_tag "style" %>
	<%= javascript_include_tag "jquery" %>
	<title>Mealie</title>
</head>
<body>
	<header>
		<div>
			<a href="#" onclick="javascript:window.history.back(-1);return false;">
				<button class="vertical_middle" id="back">戻る</button>
			</a>
		</div>
		<div>
			<%= link_to image_tag('logo.png', :class => 'vertical_middle'), :controller => "menus", :action => "index" %>
		</div>
		<div>
			<%= link_to '/tray/'+@student_number.to_s, :student_number => @student_number do %>
			<button class="vertical_middle circle" id="tray">
			<% q = Order.where(student_number: @student_number).where(created_at: Time.zone.now.all_day).where(:status => 'トレー上').count %>
			<% if q != 0 %>
				<span><%= Order.where(student_number: @student_number).where(created_at: Time.zone.now.all_day).where(:status => 'トレー上').count %></span>
			<% end %>
			</button>
			<% end %>
			<%= link_to '/mypage/'+@student_number.to_s, :student_number => @student_number do %>
			<button class="vertical_middle circle" id="mypage"></button>
			<% end %>
		</div>
	</header>
	<div class="auth">
		<div>
		</div>
	</div>